/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

html {
    scroll-behavior: smooth;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Header ***********/
nav {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

nav img {
    width: 121px;
    height: 79px;
    padding: 30px 60px 30px 0;
}

nav .buttons {
    display: flex;
    gap: 68px;
}

nav a {
    font-size: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/****** Section info-group ***********/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline h1 {
    font-size: 22px;
    margin: 0;
}

.headline p {
    margin: 0;
}

.zone-recherche {
    display: flex;
    width: 377px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.zone-recherche .logo-gps {
    padding: 15px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.zone-recherche form {
    display: flex
}

.zone-recherche #input-recherche {
    width: 195px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
}

#input-recherche::placeholder {
    color: black;
}

.zone-recherche button {
    width: 132px;
    color: white;
    background-color: #0065FC;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 0 15px 15px 0;
}

.zone-recherche button:hover {
    opacity: 0.7;
}


/******** This part is only visible for small devices
(phones, less than 768px)  **************/

.zone-recherche-portable {
    display: none;
    width: 335px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px; 
}

.zone-recherche-portable .logo-gps {
    padding: 15px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.zone-recherche-portable form {
    display: flex;
}

.zone-recherche-portable #input-recherche-phones {
    width: 236px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border: none;
}

.zone-recherche-portable #input-recherche-phones::placeholder {
    color: black;
}

.zone-recherche-portable #logo-loupe {
    background-color: #0065FC;
    border: none;
    padding: 15px 16px;
    border-radius: 15px;
}

.zone-recherche-portable button {
    border: none;
    background: none;
    padding: 0;
    display: flex; 
}

.zone-recherche-portable button:hover {
    opacity: 0.7;
}

/******** End of the part visible only for small devices
(phones, less than 768px)  **************/


.filterbar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filterbar form {
    display: flex;
    gap: 15px;
}

.filter button {
    display: flex;
    align-items: center; 
    background-color: #FFFFFF; 
    height: 50px;
    gap: 10px;
    padding: 4px 19px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
}

.filters-span {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.filters-line {
    display: flex;
    gap: 15px;
}

.filter span {
    font-size: 17px;
    font-weight: 700;
}

.filter img {
    flex-shrink: 0;
    width: auto;
    height: auto;
}

.filter button:hover {
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}

.infobar img {
    flex-shrink: 0;
    width: auto;
    height: auto;
    padding: 3px 8px;
    border: solid 1px #D9D9D9;
    border-radius: 15px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements {
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
}

.populaires {
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements a {
    width: 33%;
    min-width: 29%;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements .card img {
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 8px;
}

.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements .card-subtitle {
    margin-top: 0;
    margin-bottom: 5px;
}

.hebergements .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards-line {
    display: flex;
    
    gap: 30px;
}

.hebergements span {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activites-title {
    display: flex;
}

.activites-cards-line {
    display: flex;
    justify-content: space-between;
}

.activites a {
    width: 23%;
}

.activites-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-height: 439px;
    height: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites img {
    height: 86.56%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites .card-content {
    display: flex;
    align-items: center;
    padding: 20px 19px;
}

.activites .card-title {
    margin: 0;
}

/****** Footer ***********/
footer {
    display: flex;  
    background-color: #F2F2F2;
}

.footer-article {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
    gap: 15px;
}

footer span {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .filterbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 91px;
        gap: 20px;
    }

    .filter span {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        width: 33%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .activites-card {
        width: 100%;
        height: 100%;
        max-height: 270px;
    }

    .activites-card img {
        height: 74%;
    }

    .activites-card .card-content {
        min-height: 26%;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 30px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    .menu {
        width: 100%;
    }

    nav img {
        padding: 30px;
    }
    
    nav .buttons {
        gap: 0px;
    }

    .btn-hebergement {
        width: 50%;
        border-bottom: solid 2px #F2F2F2;
        padding: 0 0 16px 0;
    }

    .btn-activite {
        width: 50%;
        border-bottom: solid 2px #F2F2F2;
        padding: 0 0 16px 0;
    }

    nav a:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: transparent;
    }

    .info-group {
        padding: 0 20px 0 20px;
    }

    .zone-recherche {
        display: none;
    }

    .zone-recherche-portable {
        display: flex;
    }

    .filterbar {
        height: 161px;
    }

    .filterbar form {
        flex-direction: column;
        width: 100%;
        max-width: 335px;
    }

    .filters-line {
        width: 100%;
        height: 50px;
        gap: 10px;
    }

    .filter {
        width: 100%;
    }

    .filter button {
        width: 100%;
    }

    .filter span {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .populaires {
        padding: 30px 20px;
        border-radius: 0;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-title {
        margin-bottom: 15px;
    }

    .populaires-cards a {
        width: 335px;
    }

    .populaires-cards .card {
        margin: 0;
    }

    .hebergements-cards-line {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements {
        background-color: #FFFFFF;
        padding: 20px;
    }

    .hebergements a {
        min-width: 335px;
    }

    .activites {
        padding: 0 20px 0 20px;
    }

    .activites-cards-line{
        flex-direction: column;
        gap: 15px;
    }

    .activites-card {
        width: 335px;
        height: 200px;
    }

    .activites img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-article {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 15px;
    }

}

/* Small devices (phones, less than 370px) */
@media (max-width: 369.98px) {

    .zone-recherche-portable {
        width: 280px;
    }

    .zone-recherche-portable form {
        width: 230px;
    }

    .zone-recherche-portable #input-recherche-phones {
        width: 186px;
    }

    .populaires-cards a {
        width: 280px;
    }

    .hebergements a {
        min-width: 280px;
    }

    .activites-card {
        width: 280px;
    }

}